
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  font-family: 'Press Start 2P', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #111011;
  color:white;
  margin: 0;
}

a {
    text-decoration: none;
    color:lime;
}

a:hover {
    color:lime;
}

.nes-container {
    border-color:white !important;
}

#nescss > .container {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 100px;
}

.about h1 {
    font-size:25px;
}

.about .content {
    max-width:617px;
}

.about .content p {
  color: white;
  font-size: 14px;
}

.about .content p span{
    color:lime;
}

footer .nes-container .container-nav {
    display: flex;
    margin: 0 auto;
    align-items: baseline;
  }
  
footer .nes-container .container-nav .nav-brand {
    margin-right: auto;
}

.nav-brand h1 {
    font-size:10px;
}

.nav-brand p {
    font-size:18px;
}

footer .nes-container .container-nav .social-button {
    margin-left: auto;
}

.social-buttons p {
    font-size:12px;
}

.social-buttons .share {
    text-align:center;
    margin-top:5px;
}

.social-buttons a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body {
      margin: 2rem 2rem;
      padding: 0;
    }

    #nescss > .container {
        margin-top: 50px;
    }

    footer .nes-container .container-nav {
        display: block;
    }

    .social-buttons .share {
        text-align:left;
    }
}